/* style.css
*/
* {
	font-family: monospace;
}

h1 {
	font-size: x-large;
}

h2 {
	font-size: large;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
	list-style-type: none;
}

nav li+li {
	padding-left: 1em;
}

.uriinput {
	width: 35em; 
}

.note {
	width: 35em; 	
	height: 5em;
}