/* style.css
*/
* {
	font-family: monospace;
}

h1 {
	font-size: x-large;
}

h2 {
	font-size: large;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav li {
	display: inline;
	list-style-type: none;
}

nav li+li {
	padding-left: 1em;
}

.uriinput {
	width: 35em; 
}

.note {
	width: 35em; 	
	height: 5em;
}

.dirlist {
    margin-top: -20px; 
    margin-bottom:10px;
}

form {
    margin-top: 20px;
}

#bg {
    background-color: #2E2E2E;
    color: white;
    padding: 10px;
    margin: 5px 0 5px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.palette div span {
    display: none;
}

.palette {
    line-height: 40px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.swatch {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 20px;
    height: 20px;
    margin-top: 1px;
    margin-left: 1px;
    border:1px solid black;
}

.active {
    border:1px solid red !important;
}

li.resource {
  padding-top: 5px;
  height: 260px;
  width: 210px;
  float: left;
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  border: 1px solid #DDD;
  
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

li.resource:hover {
    border:1px solid red;
}

li.resource a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.caption {
font-weight: bold;
padding: 5px;
margin-bottom: -5px;
max-width: 200px;
}

.overlay {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:1000;
    display: none;
  }

.mod {  
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin: 40px;
    z-index:1001;
    display: none;
  }