{% extends "layout.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
	<h1>{{ name }}</h1>
	{%- if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{%- endif %}
	{%- if show_home or parent != "" %}
	<nav>
		<ul>
			{%- if show_home %}<li><a href="">Home</a></li>{%- endif %}
			{%- if parent != "" %}<li><a href="{{ parent }}">Parent Directory</a></li>{%- endif %}
		</ul>
	</nav>
	{%- endif %}

	{%- for d in dirs %}
	{%- if loop.first %}
	<h2>Subdirectories</h2>
	<ul>
	{%- endif %}
		<li><a href="{{ d.rel_path }}">{{ d.name }}</a></li>
	{%- if loop.last %}
	</ul>
	{%- endif %}
	{%- endfor %}

	{%- for image in jp2s %}
	{%- if loop.first %}
	<h2>Images</h2>
	<form action="" method="post">
		{% if error %}
		<p class=error><strong>Error:</strong> {{ error }}
		{% endif %}
		<p><span style="font-weight: bold;">Associate images with this component</span><br/>
		<input type='text' name="component_uri" class="uriinput" value="{{ component_uri }}"><br/>
		<span style="font-weight: bold;">Note</span><br/>
		<textarea type='text' name='note' class="note">{{ note }}</textarea><br/>
		<input type=submit value="Submit">
	</form>

	<ul class="images">
	{%- endif %}
		<li>
			<a href="{{ urn_to_djatoka_query(5, image.urn) }}">
				<img src="{{ urn_to_djatoka_query(1, image.urn) }}">
			</a>
			<p>{{ image.name }}</p>
		</li>
	{%- if loop.last %}
	</ul>
	{%- endif %}
	{%- endfor %}

{% endblock %}